* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.5rem;
}

h1 {
    font-size: 3rem;
    color: #595959;
}

h3 {
    font-size: 2rem;
}

table {
	margin: 0px;
}

body {
    background-color: white;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 38rem;
    height: 520px;
    height: 32.6rem;
    top: 9rem;
    background: rgb(87, 168, 255);
    border: 0.15rem solid grey;
    padding: 0.6rem;
    border-radius: 1.2rem;

}

.container table tr td {
    width: 15rem;
    height: 5rem;
    border: 0.15rem solid gray;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}


.reset {
	font-size: 1rem;
    position: absolute;
    top: 6.25rem;
    left: calc(50% + 18.625rem);
    transform: translate(-100%);
    width: 5.625rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.3rem;
    border: 0.01rem solid gray;
    background: #ffffff;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 0.625rem;
}
.reset:active {
	background-color: #acacac;
}

.difficulty-selector {
	top: 5.75rem;
	position: absolute;
	left: calc(50% - 18.625rem);
}

button {
	font-size: 1rem;
    width: 5.625rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.3rem;
    border: 0.01rem solid gray;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.625rem;
}

.clicked {
	background-color: #acacac;
}

a {
	text-decoration: none;
	color: #555;
}

a:hover {
	color: #888;
    transition: color 0.2s ease;
}

.previous-page {
	position: absolute;
	font-size: 1.75rem;
	left: calc(50% - 18.625rem);
}

.source-code {
	position: absolute;
	left: calc(50% + 18.625rem);
	transform: translate(-100%);
	top: 32.5rem;
	font-size: 1.125rem;
	text-align: right;
	color: #555;
	margin: 10.375rem 0 0 0;
	float: right;
	white-space: nowrap;
}

.fa-github {
	color: #555;
	font-size: 1.75rem;
}

/****************************** SCREEN RE-SIZE ***************************************************/

@media (max-width: 3000px) {

}