html {
	font-size: 36px;
}
@media (max-width: 2560px) {
	html {
		font-size: 26px;
	}
}
@media (max-width: 2048px) {
	html {
		font-size: 18px;
	}
}
@media (max-width: 1980px) {
	html {
		font-size: 16px;
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 1024px) and (min-height: 1024px) {
	html {
		font-size: 22px;
	}
}
@media (max-width: 850px) and (min-height: 850px) {
	html {
		font-size: 19px;
	}
}
@media (max-width: 768px) and (min-height: 768px) {
	html {
		font-size: 17px;
	}
}
@media (max-width: 600px) and (min-height: 600px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 480px) and (min-height: 480px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 414px) and (min-height: 414px) {
	html {
		font-size: 10px;
	}
}
@media (max-width: 375px) and (min-height: 375px) {
	html {
		font-size: 9px;
	}
}
@media (max-width: 320px) and (min-height: 320px) {
	html {
		font-size: 8px;
	}
}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.5rem;
}

h1 {
    font-size: 3rem;
    color: #595959;
}

h3 {
    font-size: 2rem;
}

table {
	margin: 0;
}

body {
    background-color: white;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 38rem;
    height: 32.6rem;
    top: 9rem;
    background: rgb(87, 168, 255);
    border: 0.15rem solid grey;
    padding: 0.6rem;
    border-radius: 1.2rem;
}

.container table tr td {
    width: 15rem;
    height: 5rem;
    border: 0.15rem solid gray;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}


.reset {
	font-size: 1rem;
    position: absolute;
    top: 6.25rem;
    left: calc(50% + 18.625rem);
    transform: translate(-100%);
    width: 5.625rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.3rem;
    border: 0.1rem solid gray;
    background: #ffffff;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 0.625rem;
}
.reset:active {
	background-color: #acacac;
}

.difficulty-selector {
	top: 5.75rem;
	position: absolute;
	left: calc(50% - 18.625rem);
}

button {
	font-size: 1rem;
    width: 5.625rem;
    height: 1.875rem;
    text-align: center;
    padding: 0.3rem;
    border: 0.1rem solid gray;
    background: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.625rem;
}

.clicked {
	background-color: #acacac;
}

a {
	text-decoration: none;
	color: #555;
}

a:hover {
	color: #888;
    transition: color 0.2s ease;
}

.previous-page {
	position: absolute;
	font-size: 1.75rem;
	left: calc(50% - 18.625rem);
}

.source-code {
	position: absolute;
	left: calc(50% + 18.625rem);
	transform: translate(-100%);
	top: 32.5rem;
	font-size: 1.125rem;
	text-align: right;
	color: #555;
	margin: 10.375rem 0 0 0;
	float: right;
	white-space: nowrap;
}

.fa-github {
	color: #555;
	font-size: 1.75rem;
}


@media (max-width: 1366px) and (min-height: 960px) {
	.container {
		top: 12.5rem;
	}
	.reset {
		top: 9.75rem;
	}
	.difficulty-selector {
		top: 9.25rem;
	}
	.source-code {
		top: 36rem;
	}
}

@media (max-width: 480px) and (min-height: 320px) {
	body {
		margin-top: 4rem;
	}
	.container {
		top: 15.5rem;
		height: 33rem;
	}
    .reset {
        top: 12.75rem;
    }
    .difficulty-selector {
        top: 12.25rem;
    }
    .source-code {
        top: 39rem;
    }
}
